.textCenter{
  text-align: center;
}

/*Login*/
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 70%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 70%;
  }
  }

  .fas{
    color: #709085;
  }

  .fw-normal{
    letter-spacing: 1px;
  }

  .login-form{
    width: 28rem;
  }

  .container-fluid{
    background-color:rgb(222, 228, 235);
  }
/*End Login*/

/*Registration*/

.error {
  color: rgb(247, 12, 12);
  font-size: 12px;
}

.pt-1{
  margin:0 auto;
  display: flex;
  justify-content: center;
}

form {
  width: 80%;
  margin: auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.form-group {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5em;
}

.form-group input {
  padding: 0.5em;
  font-size: 1em;
}
